nav{
	background-color: #fff;
}
body{
	background: url("../imgs/background.jpg") no-repeat center center fixed;
	background-size: cover
}
.homebutton.navbar-brand{
	color: black;
}
h1{
	color:white;
	line-height: 40px;
	position: relative;
	top: 150px;
	width: 100%;
	font-size: 30px;
	text-align: center;
}
h2{
	color:white;
	line-height: 40px;
	position: relative;
	top: 150px;
	width:100%;
	font-size: 25px;
	text-align: center;
}

.button{
	position: relative;
	top: 150px;
	left: 45%;
}
.mybutton{
	padding: 15px;
	cursor: pointer;
	font-weight: bold;
	font-size: 100%;
	background: grey;
	color: #fff;
	border: 1px solid white;
	border-radius: 20px;
	-moz-box-shadow:: 6px 6px 5px #999;
	-webkit-box-shadow:: 6px 6px 5px #999;
}

.mybutton:hover {
	color: white;
	background: #000;
	border: 1px dotted white;
}

